
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f8fa; 
    color: #24292e; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #24292e; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f6f8fa; 
    font-weight: bold;
}

nav ul li a:hover {
    color: #0366d6; 
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

footer {
    background-color: #f6f8fa;
    color: #24292e;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    color: #24292e; 
}

a {
    color: #0366d6; 
}

a:hover {
    color: #0580f6; 
}

